# -------------------------
# OS / Editor / Build ignores
# -------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
.env.*
.venv.*

# Logs
logs/
*.log

# -------------------------
# Hidden files ignore
# -------------------------
# 모든 숨김파일(.으로 시작) 무시
.*

# -------------------------
# Exceptions
# -------------------------
# gitignore 자체는 필요함
!.gitignore
